@import "tailwindcss";

/* This forces Tailwind to use the "class" strategy.
   It tells Tailwind to only apply dark styles if the ".dark" class is present.
*/
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary: var(--primary-color);
  --color-primary-foreground: white;

  /* Modern Neutral Grays */
  --color-zinc-50: #fafafa;
  --color-zinc-950: #09090b;
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
  --primary-color: #2563eb; /* Corporate Blue */
}

/* This matches the "attribute='class'" setting in your ThemeProvider.
   When next-themes adds this class, these variables activate.
*/
.dark {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}